<mat-nav-list>
        <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
            <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
        </a>
        <a mat-list-item routerLink="/coin_details" (click)="onSidenavClose()">
            <mat-icon>import_export</mat-icon> <span class="nav-caption">Coin Details</span>   
        </a>
        <a mat-list-item routerLink="/coin_compare" (click)="onSidenavClose()">
            <mat-icon>compare_arrows</mat-icon><span class="nav-caption">Coin Compare</span>
        </a>
        <a mat-list-item routerLink="/news" (click)="onSidenavClose()">
            <mat-icon>analytics</mat-icon><span class="nav-caption">News</span>
        </a>
        <a mat-list-item routerLink="/blogs" (click)="onSidenavClose()">
            <mat-icon>post_add</mat-icon><span class="nav-caption">Blogs</span>
        </a>
      </mat-nav-list>