	
<section fxLayout="column" fxFlexAlign="stretch" class="home-section-main">
    <div fxFlexAlign="center">
    </div>  
<mat-grid-list [cols]="breakpointnews" (window:resize)="onResizeNewsBox($event)" rowHeight='400px'>
  <mat-grid-tile >
    <div class="news_img">
      <img [src]=news_data[0].originalImageUrl>
      <h3>
        <a [href]=news_data[0].url target="_blank">{{news_data[0].title}}</a>
      </h3>
      <p>
        by {{news_data[0].sourceDomain}}
      </p>

    </div>
  </mat-grid-tile>
  
  <mat-grid-tile>
    <div class="news_img">
      <img [src]=news_data[1].originalImageUrl>
      <h3>
        <a [href]=news_data[1].url target="_blank">{{news_data[1].title}}</a>
      </h3>
      <p>
        {{news_data[1].sourceDomain}}
      </p>

    </div>
  </mat-grid-tile>
  
  <mat-grid-tile>
    <div class="news_img">
      <img [src]=news_data[2].originalImageUrl>
      <h3>
        <a [href]=news_data[2].url target="_blank">{{news_data[2].title}}</a>
      </h3>
      <p>
        {{news_data[2].sourceDomain}}
      </p>

    </div>
  </mat-grid-tile>
  
  <mat-grid-tile>
    <div class="news_img">
      <img [src]=news_data[3].originalImageUrl>
      <h3>
        <a [href]=news_data[3].url target="_blank">{{news_data[3].title}}</a>
      </h3>
      <p>
        {{news_data[3].sourceDomain}}
      </p>

    </div>
  </mat-grid-tile>
</mat-grid-list>





<!-- <mat-grid-list class="about-us">
  <mat-grid-tile>

  </mat-grid-tile>
</mat-grid-list> -->
<div class="main-section-top-10-coins">
  <h2 style="font-family:serif; text-align: center;">
    Top 10 Coins
  </h2>
    <mat-tab-group (selectedTabChange) = "executeSelectedChange($event)">
      <mat-tab label="Bitcoin"> 
        <mat-grid-list [cols]="breakpointgraph" (window:resize)="onResizegraphBox($event)" rowHeight='400px'>
          <mat-grid-tile>
            <div>

            </div>
          </mat-grid-tile>

        </mat-grid-list>
      </mat-tab>

      
      <mat-tab label="Ethereum">
        <p>We will consume our .NET Core application. Basically, we will create complete CRUD client app.</p>
      </mat-tab>
      <mat-tab label="Ripple">
        <p>By using material components, we are going to create fully responsive navigation menu, with its side-bar as well.</p>
      </mat-tab>
      <mat-tab label="Bitcoin Cash">
        <p>By using material components, we are going to create fully responsive navigation menu, with its side-bar as well.</p>
      </mat-tab>
      <mat-tab label="EOS">
        <p>By using material components, we are going to create fully responsive navigation menu, with its side-bar as well.</p>
      </mat-tab>
      <mat-tab label="Cardano">
        <p>By using material components, we are going to create fully responsive navigation menu, with its side-bar as well.</p>
      </mat-tab>
      <mat-tab label="Litecoin">
        <p>By using material components, we are going to create fully responsive navigation menu, with its side-bar as well.</p>
      </mat-tab>
      <mat-tab label="Ripple">
        <p>By using material components, we are going to create fully responsive navigation menu, with its side-bar as well.</p>
      </mat-tab>
      <mat-tab label="Stellar">
        <p>By using material components, we are going to create fully responsive navigation menu, with its side-bar as well.</p>
      </mat-tab>
      <mat-tab label="Binance Coin">
        <p>By using material components, we are going to create fully responsive navigation menu, with its side-bar as well.</p>
      </mat-tab>
    </mat-tab-group>
  </div>
  </section>
