	
<section fxLayout="column" fxFlexAlign="stretch" class="home-section-main">
    <div fxFlexAlign="center">
    </div>  
<mat-grid-list [cols]="breakpointnews" (window:resize)="onResizeNewsBox($event)" rowHeight='430px'>
  <mat-grid-tile>
    <div class="news_img">
      <img src="../../assets/img/Bitcoin_is_rising.jpg">
      <h3>
        <b>Bitcoin is Rising...</b>
      </h3>
      <p>
        15 Hrs Ago | by Aadil Kazi
      </p>
      <div class="news_descrpt">
        <p>
          As a new concept within the industry, blockchain bridges possess a lot of promise for the blockchain and crypto landscape and for the future of the industry.
        </p>
      </div>
    </div>
  </mat-grid-tile>
  
  <mat-grid-tile>
    <div class="news_img">
      <img src="../../assets/img/Bitcoin_is_rising.jpg">
      <h3>
        <b>Bitcoin is Rising...</b>
      </h3>
      <p>
        15 Hrs Ago | by Aadil Kazi
      </p>
      <div class="news_descrpt">
        <p>
          As a new concept within the industry, blockchain bridges possess a lot of promise for the blockchain and crypto landscape and for the future of the industry.
        </p>
      </div>
    </div>
  </mat-grid-tile>
  
  <mat-grid-tile>
    <div class="news_img">
      <img src="../../assets/img/Bitcoin_is_rising.jpg">
      <h3>
        <b>Bitcoin is Rising...</b>
      </h3>
      <p>
        15 Hrs Ago | by Aadil Kazi
      </p>
      <div class="news_descrpt">
        <p>
          As a new concept within the industry, blockchain bridges possess a lot of promise for the blockchain and crypto landscape and for the future of the industry.
        </p>
      </div>
    </div>
  </mat-grid-tile>
  
  <mat-grid-tile>
    <div class="news_img">
      <img src="../../assets/img/Bitcoin_is_rising.jpg">
      <h3>
        <b>Bitcoin is Rising...</b>
      </h3>
      <p>
        15 Hrs Ago | by Aadil Kazi
      </p>
      <div class="news_descrpt">
        <p>
          As a new concept within the industry, blockchain bridges possess a lot of promise for the blockchain and crypto landscape and for the future of the industry.
        </p>
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>





<!-- <mat-grid-list class="about-us">
  <mat-grid-tile>

  </mat-grid-tile>
</mat-grid-list> -->
<div class="main-section-top-10-coins">
  <h2 style="font-family:serif; text-align: center;">
    Top 10 Coins
  </h2>
    <mat-tab-group (selectedTabChange) = "executeSelectedChange($event)">
      <mat-tab label="Bitcoin"> 
        <p>We are going to use different material components to create nice looking angular app.</p> 
      </mat-tab>
      <mat-tab label="Ethereum">
        <p>We will consume our .NET Core application. Basically, we will create complete CRUD client app.</p>
      </mat-tab>
      <mat-tab label="Ripple">
        <p>By using material components, we are going to create fully responsive navigation menu, with its side-bar as well.</p>
      </mat-tab>
      <mat-tab label="Bitcoin Cash">
        <p>By using material components, we are going to create fully responsive navigation menu, with its side-bar as well.</p>
      </mat-tab>
      <mat-tab label="EOS">
        <p>By using material components, we are going to create fully responsive navigation menu, with its side-bar as well.</p>
      </mat-tab>
      <mat-tab label="Cardano">
        <p>By using material components, we are going to create fully responsive navigation menu, with its side-bar as well.</p>
      </mat-tab>
      <mat-tab label="Litecoin">
        <p>By using material components, we are going to create fully responsive navigation menu, with its side-bar as well.</p>
      </mat-tab>
      <mat-tab label="Ripple">
        <p>By using material components, we are going to create fully responsive navigation menu, with its side-bar as well.</p>
      </mat-tab>
      <mat-tab label="Stellar">
        <p>By using material components, we are going to create fully responsive navigation menu, with its side-bar as well.</p>
      </mat-tab>
      <mat-tab label="Binance Coin">
        <p>By using material components, we are going to create fully responsive navigation menu, with its side-bar as well.</p>
      </mat-tab>
    </mat-tab-group>
  </div>
  </section>
