
 


mat-tab-group {
    text-align: center;
    z-index: -1;
}
 
mat-tab-group p {
    padding-top: 20px;
}

.example-card{
    max-width: 300px;
    padding: 20px;
}
.news-card{
    max-width: 200px;
    padding: 30px;
    
}
.news-cards{
    max-width: 200px;
    padding: 30px;
    
}

.home-section-main{
    padding:0 70px;
    /* background-color: aliceblue; */
    margin-top: 80px;
    
}

.coin_statistics{
   padding-left: 20px; 
   
}

.table-coin p{
    font-family:serif;
    font-size:1em;
    text-align: justify !important;
    
}

@media screen and (max-width: 500px) {
    .home-section-main{
        padding:0 10px;
        /* background-color: aliceblue; */
        margin-top: 80px;
    }
    highcharts-chart{
        height: 300px;
    }

  }


  @media screen and (min-width: 501px) {
    .news_img{
        padding:0 10px;
            /* margin: 5px; */
        height: 360px;
    }

    .news_img:hover{
        width: 310px;
        /* box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19); */
        box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    
    }
    
    .news_img{
        
      box-shadow: 0 1px 2px rgba(0,0,0,0.15);
      transition: box-shadow 0.3s ease-in-out;
    }
    
    .news_img:after{
        content: '';
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        opacity: 0;
        border-radius: 5px;
        box-shadow: 0 5px 15px rgba(0,0,0,0.3);
        transition: opacity 0.3s ease-in-out;
    }

    
  }

.main-section-banner{
    background-image: url("../../assets/img/minimalist1.jpg");
    background-color: aliceblue;
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-section-banner-heading{
    font-family: serif;
    font-size: 2.7em;

}

.main-section-news-box{
    margin-top: 10px;
}
/* 
.news-grid-tile{
    margin-top: 0 !important;
    padding-top: 0 !important
} */


.news_img img{
    width: 100%;
    height: 200px;
}

.news_img a{
    color: black;
    text-decoration: none;
}


.news_img p{
    font-family: monospace;
    font-size: 1em;
}

.news_descrpt p{
    font-family: serif;
    font-size: 1em;
}

.main-section-top-10-coins{
    min-height: 500px;
}

.table-coin {
    width: 100%;
  }

.coin_statistics {
    margin-top : 0
}

.about-us-banner{
    background-image: url("../../assets/img/Bitcoin_is_rising.jpg");
    background-color: aliceblue;
    height: 400px;
    width: 91%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    margin: 0%;
}